<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="OTeachingConnectionString" connectionString="Data Source=DESKTOP-BKUKVF6;Initial Catalog=OTteaching;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="OTeaching" connectionString="Data Source=DESKTOP-BKUKVF6;Initial Catalog=OTteaching;Integrated Security=True"/>
    <add name="OTeachingConnectionString2" connectionString="Data Source=DESKTOP-BKUKVF6;Initial Catalog=OTteaching;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>